### 람다함수 및 내장함수

- 함수 정의와 호출
- 변수의 유효 범위
- 람다(lambda) 함수
- 유용한 내장 함수

### 함수 정의와 호출

### 1. 인자도 반환 값도 없는 함수

In [1]:
def my_func():
    print("My first function!")
    print("This is a function.")

In [2]:
my_func()

My first function!
This is a function.

### 2. 인자는 있으나 반환 값이 없는 함수

In [3]:
def my_friend(friendName):
    print('{}는 나의 친구입니다.'.format(friendName))

In [5]:
my_friend('진수')
my_friend('희영')

진수는 나의 친구입니다.
희영는 나의 친구입니다.

In [6]:
def my_student_info(name, school_ID, phoneNumber):
    print('-----------------------------')
    print('- 학생이름 : ', name)
    print('- 학급번호 : ', school_ID)
    print('- 전화번호 : ', phoneNumber)

In [8]:
my_student_info('진수','01','010-5670-3847')
my_student_info('희영','02','010-1234-5678')

-------------------
- 학생이름 :  진수
- 학급번호 :  01
- 전화번호 :  010-5670-3847
-------------------
- 학생이름 :  희영
- 학급번호 :  02
- 전화번호 :  010-1234-5678

### 인자도 있고 반환 값도 있는 함수

In [9]:
def my_calc(x,y):
    z = x*y
    return z

In [10]:
my_calc(3,4)

12

In [11]:
def my_student_info_list(student_info):
    print("****************************")
    print("* 학생이름:", student_info[0])
    print("* 학급번호:", student_info[1])
    print("* 전화번호:", student_info[2])
    print("****************************")

In [12]:
my_student_info_list(['준영','02','010-9876-5432'])

****************************
* 학생이름: 준영
* 학급번호: 02
* 전화번호: 010-9876-5432
****************************

### 변수의 유효 범위

In [13]:
a = 5 # 전역 변수

def func1():
    a = 1 # 지역 변수. func1()에서만 사용
    print("[func1] 지역 변수 a =", a)

def func2():
    a = 2 # 지역 변수. func2()에서만 사용
    print("[func2] 지역 변수 a =", a)  
    
def func3():
    print("[func3] 전역 변수 a =", a)   
    
def func4():
    global a  # 함수 내에서 전역 변수 변경 위해 선언
    a = 4      # 전역 변수의 값 변경
    print("[func4] 전역 변수 a =",a)

In [14]:
func1()
func2()
func3()
func4()

[func1] 지역 변수 a = 1
[func2] 지역 변수 a = 2
[func3] 전역 변수 a = 5
[func4] 전역 변수 a = 4

### 람다(lambda) 함수

In [15]:
(lambda x : x**2) (3)

9

In [16]:
mySquare = lambda x : x**2
mySquare(2)

4

In [17]:
mySquare(5)

25

In [18]:
mySimpleFunc = lambda x,y,z : 2*x + 3*y + z
mySimpleFunc(1,2,3)

11

In [19]:
func = lambda x,y : x**2 + 2*y
func(2, 3), func(3, 2)

(10, 13)

### 유용한 내장 함수

- 정수형으로 변환

In [22]:
[int(0.123), int(3.5123456), int(-1.312367)]

[0, 3, -1]

In [23]:
[int('1234'), int('5678'), int('-9012')]

[1234, 5678, -9012]

- 실수형으로 변환

In [25]:
[float(0), float(123), float(-567)]

[0.0, 123.0, -567.0]

In [26]:
[float('10'), float('0.123'), float('-567.89')]

[10.0, 0.123, -567.89]

- 리스트, 튜플, 세트형으로 변환

In [27]:
list_data  = ['abc', 1, 2, 'def']
tuple_data = ('abc', 1, 2, 'def')
set_data   = {'abc', 1, 2, 'def'}

In [28]:
[type(list_data), type(tuple_data), type(set_data)]

[list, tuple, set]

In [29]:
print("리스트로 변환: ", list(tuple_data), list(set_data))

리스트로 변환:  ['abc', 1, 2, 'def'] ['abc', 2, 'def', 1]

In [30]:
print("튜플로 변환:", tuple(list_data), tuple(set_data))

튜플로 변환: ('abc', 1, 2, 'def') ('abc', 2, 'def', 1)

In [31]:
print("세트로 변환:", set(list_data), set(tuple_data))

세트로 변환: {'abc', 2, 'def', 1} {'abc', 2, 'def', 1}

### bool 함수

In [32]:
%pwd

'C:\\Users\\student\\Anaconda_src\\S01_Python_Review'

In [33]:
bool(0)

False

In [35]:
bool(1)

True

In [37]:
bool(-10)

True

In [38]:
myFriends = []
bool(myFriends) # 인자: 항목이 없는 빈 리스트

False

In [39]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
bool(myFriends) # 인자: 항목이 있는 리스트

True

In [40]:
myNum = ()
bool(myNum) # 인자: 항목이 없는 빈 튜플

False

In [41]:
myNum = (1,2,3)
bool(myNum) # 인자: 항목이 있는 튜플

True

In [42]:
mySetA = {}
bool(mySetA) # 인자: 항목이 없는 빈 세트

False

In [43]:
mySetA = {10,20,30}
bool(mySetA) # 인자: 항목이 있는 세트

True

In [44]:
def print_name(name):
    if bool(name):
        print("입력된 이름:", name)
    else:
        print("입력된 이름이 없습니다.")

In [45]:
print_name("진수")

입력된 이름: 진수

In [46]:
print_name("")

입력된 이름이 없습니다.

In [47]:
scores = [90, 80, 95, 85] # 과목별 시험 점수

score_sum = 0                     # 총점 계산을 위한 초깃값 설정
subject_num = 0                   # 과목수 계산을 위한 초깃값 설정
for score in scores:
    score_sum = score_sum + score # 과목별 점수 모두 더하기
    subject_num = subject_num + 1 # 과목수 계산
    
average = score_sum / subject_num # 평균(총점 / 과목수) 구하기

print("총점:{0}, 평균:{1}".format(score_sum,average))

총점:350, 평균:87.5

In [48]:
scores = [90, 80, 95, 85] # 과목별 시험 점수

print("총점:{0}, 평균:{1}".format(sum(scores), sum(scores)/len(scores)))

총점:350, 평균:87.5

In [49]:
print("최하 점수:{0}, 최고 점수:{1}".format(min(scores), max(scores)))

최하 점수:80, 최고 점수:95