# Module
>내장 모듈

- 난수 발생 모듈
- 날짜 및 시간 관련 처리 모듈
- 달력 생성 및 처리 모듈

## <span style = 'color : blue'>내장 모듈

## 난수 발생 모듈

In [12]:
import random

random.random()

0.024761359491036528

In [1]:
import random

dice1 = random.randint(1,6) # 임의의 정수
dice2 = random.randint(1,6) # 임의의 정수
print('주사위 두개의 숫자 : {}, {}'.format(dice1,dice2))

주사위 두개의 숫자 : 3, 6

In [38]:
import random

a = random.randrange(0,11,2) # 짝수
b = random.randrange(1,11,2) # 홀수
print(a)
print(b)

2
3

In [46]:
import random

num1 = random.randrange(1, 10, 2) # 1 ~ 9(10-1) 중 임의의 홀수 선택
num2 = random.randrange(0,100,10) # 0 ~ 99(100-1) 중 임의의10의 단위 숫자 선택
print('num1: {0}, num2: {1}'.format(num1,num2))

num1: 7, num2: 0

In [2]:
import random

cam = ['태우','별나','성실','요온','지혜','아영','소연','용갑','창용','덕은']
go = random.choice(cam)
print('차기 캄보디아(PPCB) 대상자 : {} '.format(go))

차기 캄보디아(PPCB) 대상자 : 성실

In [3]:
import random

random.sample([1,2,3,4,5],2) # 모집단에서 두개의 인자 선택

[2, 5]

## 날짜 및 시간 관련 처리 모듈

In [4]:
import datetime

set_day = datetime.date(2022, 5, 24)
print(set_day)

2022-05-24

In [61]:
print('{0}/{1}/{2}'.format(set_day.year,set_day.month,set_day.day ))

2022/5/24

In [62]:
import datetime

day1 = datetime.date(1993, 10, 22)
day2 = datetime.date(2022,  5, 24)
diff_day = day2 - day1
print(diff_day)

10441 days, 0:00:00

In [63]:
type(day1)

datetime.date

In [64]:
type(diff_day)

datetime.timedelta

In [65]:
print('**지정된 두 날짜의 차이는 {}일 입니다.'.format(diff_day))

**지정된 두 날짜의 차이는 10441 days, 0:00:00일 입니다.

In [5]:
import datetime

today = datetime.date.today()
special_day = datetime.date(2017,3,15)
print(special_day - today)

-1898 days, 0:00:00

In [67]:
today = datetime.date.today()
xmas_date = datetime.date(2022,12,25)
remain_days = xmas_date - today
remain_days

datetime.timedelta(days=215)

In [68]:
print('크리스마스는 이제 {}일 남았습니다~~!!'.format(remain_days))

크리스마스는 이제 215 days, 0:00:00일 남았습니다~~!!

In [69]:
import datetime

set_time = datetime.time(15,30,45)
set_time

datetime.time(15, 30, 45)

In [70]:
print('{0}:{1}:{2}'.format(set_time.hour, set_time.minute, set_time.second ))

15:30:45

In [71]:
import datetime

set_dt = datetime.datetime(2018,12,1,10,20,0)
print(set_dt)

2018-12-01 10:20:00

In [72]:
print('날짜 {0}/{1}/{2}'.format(set_dt.year, set_dt.month, set_dt.day))
print('시각 {0}:{1}:{2}'.format(set_dt.hour, set_dt.minute, set_dt.second))

날짜 2018/12/1
시각 10:20:0

In [73]:
import datetime

now = datetime.datetime.now()
print(now)

2022-05-24 14:53:56.285511

In [74]:
print('Date & Time : {:%Y-%m-%d, %H:%M:%S}'.format(now))

Date & Time : 2022-05-24, 14:53:56

In [75]:
print('Date : {:%Y, %m, %d}'.format(now))
print('Time : {:%H/%M/%S}'.format(now))

Date : 2022, 05, 24
Time : 14/53/56

In [76]:
from datetime import date, time, datetime

print(date(2022,5,1))

2022-05-01

In [78]:
print(date.today())

2022-05-24

In [79]:
print(time(15,30,45))

15:30:45

In [80]:
print(datetime(2022,5,24,14,56,10))

2022-05-24 14:56:10

In [81]:
print(datetime.now())

2022-05-24 14:56:38.389276

In [83]:
import time
chk_time1 = datetime.datetime.now()

for i in range(10**6):
    if i % 100000 == 0:
        print(i, end='|t')
        
chk_time2 = datetime.datetime.now()

AttributeError: type object 'datetime.datetime' has no attribute 'datetime'

## 달력 생성 및 처리 모듈

In [84]:
import calendar

print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [85]:
print(calendar.calendar(2022, m=4))

                                               2022

      January                   February                   March                     April
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28                        28 29 30 31               25 26 27 28 29 30
31

        May                       June                      July                     August
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31      29 30 31
30 31

     September                  October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6                1  2  3  4
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
                          31

In [87]:
print(calendar.month(2022,5))

      May 2022
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [88]:
calendar.monthrange(2022,5)

(6, 31)

In [89]:
calendar.firstweekday()

0

In [91]:
calendar.setfirstweekday(calendar.MONDAY)
print(calendar.month(2022,5))

      May 2022
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [93]:
calendar.setfirstweekday(calendar.SUNDAY)
print(calendar.month(2022,5))

      May 2022
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [94]:
calendar.firstweekday()

6

In [95]:
print(calendar.weekday(2022,5,24))

1

In [97]:
print(calendar.isleap(2018))
print(calendar.isleap(2019))
print(calendar.isleap(2020))
print(calendar.isleap(2021))
print(calendar.isleap(2022))

False
False
True
False
False