# Python Review : 데이터 구조형

### 데이터 타입에 대한 이해가 중요함!
- 숫자형 : int, float
- 문자형 : str
- 논리형 : boolean
- 구조형 : list, tuple, set, dict ==> 공통점:elements
- None
- function 도 하나의 데이터 타입이다.

### <span style = 'color : red'> Wrap-up
- list : elements, order, duplicate
- tuple : elements, order, duplicate, 변경 X
- set : elements, order X, duplicate X
- dict : elements, order X, key, value, key duplicate X

### <span style = 'color : red'> 1. list - elements O, order O, duplicate O

In [1]:
animals = ["dog", "cat", "sheep", "duck", "cow"]

In [2]:
animals[0]

'dog'

In [3]:
animals[1:4]

['cat', 'sheep', 'duck']

In [4]:
animals[:]

['dog', 'cat', 'sheep', 'duck', 'cow']

In [5]:
animals[::2]

['dog', 'sheep', 'cow']

In [6]:
animals[-1]

'cow'

In [7]:
animals[::-1]

['cow', 'duck', 'sheep', 'cat', 'dog']

In [8]:
for animal in animals:  
    print(animal)

dog
cat
sheep
duck
cow

In [9]:
size = len(animals)
for i in range(size):
    animal = animals[i]
    print(animal)

dog
cat
sheep
duck
cow

### <span style = 'color : red'> 2. set(집합) - elements O, order X, duplicate X

In [10]:
beast = set(["lion", "tiger", "wolf", "tiger", "lion" ])

In [11]:
beast

{'lion', 'tiger', 'wolf'}

In [12]:
data = set('abracadabra')
data

{'a', 'b', 'c', 'd', 'r'}

In [13]:
data = sorted(data)
data

['a', 'b', 'c', 'd', 'r']

### <span style = 'color : red'> 3. dict - elements O, (key,value) O

In [14]:
customer = {
    "name"    : "김진수",
    'gender'  : '남자',
    "email"   : "bigpycraft@gmail.com",
    "company" : "빅파이크래프트",
    "address" : "서울시 노원구 월계로"
}

In [15]:
customer.keys()

dict_keys(['name', 'gender', 'email', 'company', 'address'])

In [16]:
for something in customer:
    print(something)    # key값

name
gender
email
company
address

In [20]:
for key in customer:
    value = customer[key]
    print("%s ==> %s" % (key, value))
    print('{} ==> {}'.format(key,value))

name ==> 김진수
name ==> 김진수
gender ==> 남자
gender ==> 남자
email ==> bigpycraft@gmail.com
email ==> bigpycraft@gmail.com
company ==> 빅파이크래프트
company ==> 빅파이크래프트
address ==> 서울시 노원구 월계로
address ==> 서울시 노원구 월계로

In [21]:
# String Formatting
"%s, %s" % ("hello", "김진수")

# pros : 쉽다.
# cons : 일단은 내부적으로 치환되는 부분(%) 이 있을때 복잡

'hello, 김진수'

In [22]:
"{name}: {greeting}, {name}".format(
    greeting = "안녕하세요",   # kwargs
    name = "김진수"
)

'김진수: 안녕하세요, 김진수'

In [23]:
for key, value in customer.items():
    print(key, value)

name 김진수
gender 남자
email bigpycraft@gmail.com
company 빅파이크래프트
address 서울시 노원구 월계로

In [24]:
for something in customer.items():
    print(something)

('name', '김진수')
('gender', '남자')
('email', 'bigpycraft@gmail.com')
('company', '빅파이크래프트')
('address', '서울시 노원구 월계로')

In [25]:
for key, value in customer.items():
    print("{key} ==> {value}".format(
        key   = key,
        value = value,
    ))

name ==> 김진수
gender ==> 남자
email ==> bigpycraft@gmail.com
company ==> 빅파이크래프트
address ==> 서울시 노원구 월계로

In [26]:
for key, value in customer.items():
    print("{key} {space} ==> {value}".format(
        key   = key,
        space = ' '*(7-len(key)),
        value = value,
    ))

name     ==> 김진수
gender   ==> 남자
email    ==> bigpycraft@gmail.com
company  ==> 빅파이크래프트
address  ==> 서울시 노원구 월계로

In [27]:
customer.items()

dict_items([('name', '김진수'), ('gender', '남자'), ('email', 'bigpycraft@gmail.com'), ('company', '빅파이크래프트'), ('address', '서울시 노원구 월계로')])

### <span style = 'color : red'> 4. tuple - elements O, order O, duplicate O, 변경될 수 있는가? X
- 변경되지 않는 자료형
- 파이썬 내부적으로, 라이브러리 => dict!

In [28]:
# 직사각형
width = 100
height = 200

data = (100,200)

In [29]:
width, height = data    # data라고 하는 값 x

In [30]:
def getArea(w,h):
    area = w * h
    return area

In [32]:
area = getArea(*data)
area

20000

In [35]:
area = getArea(width,height)
area

20000

In [36]:
# data X ---> *data
area = getArea(data)
area

TypeError: getArea() missing 1 required positional argument: 'h'