# Python Review : 함수

### 함수 생성

In [1]:
def add_txt(t1,t2):
    print(t1+t2)

In [2]:
text1 = '파이썬~'
text2 = '최고!!!'
add_txt(text1,text2)

파이썬~최고!!!

In [3]:
def add_number(n1,n2):
    result = n1 + n2
    return result

In [4]:
ans = add_number(10,15)
print(ans)

25

### 함수 인자

In [11]:
def add_txt(t1, t2='파이썬'):
    print(t1 + ' : ' + t2)

In [12]:
add_txt('베스트')

베스트 : 파이썬

In [13]:
add_txt(t2='대한민국',t1='1등')

1등 : 대한민국

In [15]:
def func1(*args):
    print(args)
def func2(width,height,**kwargs):
    print(kwargs)

In [18]:
func1()
func1(3,5,1,5)

()
(3, 5, 1, 5)

In [19]:
func2(10,20)
func2(10,20, depth = 50, color = 'blue')

{}
{'depth': 50, 'color': 'blue'}

### 지역변수와 전역변수(global)

In [21]:
param = 10
strdata = '전역변수'

def func1():
    strdata = '지역변수'
    print(strdata)
    
def func2(param):
    praram = 1
    
def func3():
    global param
    param = 50

In [22]:
func1()
print(strdata)
print(param)

지역변수
전역변수
10

In [23]:
func2(param)
print(param)

10

In [24]:
func3()
print(param)

50

### 함수 출력

In [25]:
def reverse(x,y,z):
    return z,y,x

In [27]:
ret = reverse(1, 2, 3)
print(ret)

(3, 2, 1)

In [28]:
r1, r2, r3 = reverse('a','b','c')
print(r1); print(r2); print(r3)

c
b
a